{% extends 'user/client.html.twig' %}
{% block title %}Atelier index{% endblock %}
{% block body %}
   <!-- Start Blog ======= -->
    <div class="blog-area blog-grid default-padding">
        <div class="container">
            <div class="blog-item-box">
                <div class="row">
                    <!-- Single Item -->
                    {% for atelier in pagination %}
                    <div class="col-xl-4 col-md-6 single-item">
                        <div class="blog-style-one">
                            <div class="thumb">
                                <img src="{{ asset('img/atelier/' ~ atelier.photo) }}" />
                            </div>
                            <div>
                                <div class="meta-title">
                                    <span class="post-date">
                                        Date de l'atelier : {{ atelier.dateAtelier ? atelier.dateAtelier|date('d M Y') : 'Date non définie' }}
                                    </span>
                                </div>
                                <h3>{{ atelier.nom }}</h3>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <p>Description : {{ atelier.description }}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="atelier-item">
                                    <p><strong>Nom:</strong> {{ atelier.nom }}</p>
                                    <p><strong>Date:</strong> {{ atelier.dateAtelier|date('d M Y') }}</p>
                                    <p><strong>Prix:</strong> {{ atelier.prix }} €</p>
                                    <a href="{{ path('app_vente_atelier_new', { 'nom': atelier.nom, 'prix': atelier.prix, 'dateAtelier': atelier.dateAtelier|date('Y-m-d') }) }}" class="btn btn-primary">Réserver</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12">
                    <div id="map" style="
                        width: 100%; 
                        height: 500px; 
                        border-radius: 12px; 
                        box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
                        margin-bottom: 20px;
                    "></div>
                </div>    


                    {% endfor %}
                    
                                
                        </div>
                    </div>
                    <!-- Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
    <script>
        // Tri 
        $(document).ready(function () {
            $('#atelierTable').DataTable({
                "ordering": true, // Activer le tri par colonne
                "paging": false, // Désactiver la pagination
                "searching": true,// Activer la recherche
                "pageLength": 6, // Nombre d'éléments par page
                "lengthChange": false, // Désactiver le menu de modification du nombre d'éléments par page
                "language": {
                    "url": "{{ asset('js/French.json') }}"
                }
            });
        });
    </script>
    <!-- 🌍 Mapbox Integration -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">

    <script>
        mapboxgl.accessToken = "{{ MAPBOX_API_KEY }}";
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v11', // Style satellite amélioré
            center: [{{ parcelle.longitude }}, {{ parcelle.latitude }}],
            zoom: 15,
            pitch: 45, // Inclinaison pour un meilleur rendu
            bearing: -17.6 // Orientation de la carte
        });

        var marker = new mapboxgl.Marker({ color: 'red' })
            .setLngLat([{{ parcelle.longitude }}, {{ parcelle.latitude }}])
            .setPopup(new mapboxgl.Popup({ offset: 25 })
                .setHTML(`<h6>{{ parcelle.nom }}</h6><p>{{ parcelle.superficie }} m²</p>`))
            .addTo(map);
        
        // Ajout du contrôle de navigation
        map.addControl(new mapboxgl.NavigationControl());

        // Ajout du contrôle en plein écran
        map.addControl(new mapboxgl.FullscreenControl());
    </script>
{% endblock %}
