{% extends 'user/client.html.twig' %}

{% block title %}Atelier index{% endblock %}

{% block body %}
    <!-- Start Blog -->
    <div class="blog-area blog-grid default-padding">
        <div class="container">
            <div class="blog-item-box">
                <div class="row">
                    {% for atelier in pagination %}
                        <div class="col-xl-4 col-md-6 single-item">
                            <div class="blog-style-one">
                                <div class="thumb">
                                    <img src="{{ asset('img/atelier/' ~ atelier.photo) }}" />
                                </div>
                                <div>
                                    <div class="meta-title">
                                        <span class="post-date">
                                            Date de l'atelier : {{ atelier.dateAtelier ? atelier.dateAtelier|date('d M Y') : 'Date non définie' }}
                                        </span>
                                    </div>
                                    <h3>{{ atelier.nom }}</h3>
                                </div>
                                <div class="info">
                                    <div class="meta">
                                        <ul>
                                            <li>
                                                <p>Description : {{ atelier.description }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="atelier-item">
                                        <p><strong>Nom:</strong> {{ atelier.nom }}</p>
                                        <p><strong>Date:</strong> {{ atelier.dateAtelier|date('d M Y') }}</p>
                                        <p><strong>Prix:</strong> {{ atelier.prix }} €</p>
                                        <a href="{{ path('app_vente_atelier_new', { 'nom': atelier.nom, 'prix': atelier.prix, 'dateAtelier': atelier.dateAtelier|date('Y-m-d') }) }}" class="btn btn-primary">Réserver</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

    <!-- Pagination -->
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}