
{% block title %}Nouveau Atelier{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        {#<div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-plus"></i>
                </span> Ajouter un Atelier
            </h3>
        </div>#}
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Remplissez le formulaire</h4>
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'forms-sample'}}) }}

                        {% for error in form.vars.errors %}
                         <div class="text-danger">{{ error.message }}</div>
                        {% endfor %}
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">{{ message }}</div>
                            {% endfor %}
                        {% endfor %}

                        <div class="form-group">
                            {{ form_label(form.nom, 'Nom') }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'atelier'}}) }}
                            {{ form_errors(form.nom) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.description, 'Description') }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                            {{ form_errors(form.description) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.date_atelier, 'Date de l\'atelier') }}
                            {{ form_widget(form.date_atelier, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.date_atelier) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.capacite_max, 'Capacité max') }}
                            {{ form_widget(form.capacite_max, {'attr': {'class': 'form-control', 'placeholder': 'Capacité max'}}) }}
                            {{ form_errors(form.capacite_max) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.prix, 'Prix') }}
                            {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'placeholder': 'Prix en TND'}}) }}
                            {{ form_errors(form.prix) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.statut, 'Statut') }}
                            {{ form_widget(form.statut, {'attr': {'class': 'form-select'}}) }}
                            {{ form_errors(form.statut) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.photo,  "Photo de l'atelier") }}
                            {{ form_widget(form.photo, {'attr': {'class': 'form-select'}}) }}
                            {{ form_errors(form.photo) }}
                        </div>

                      {#  <button type="submit" class="btn btn-gradient-primary me-2 w-100">
                            <i class="mdi mdi-content-save"></i> Enregistrer
                        </button> #}

                        {{ form_end(form) }}

                        <div class="text-center mt-3">
                            <a href="{{ path('app_atelier_indexBack') }}" class="btn btn-secondary">
                                <i class="mdi mdi-arrow-left"></i> Retour à la liste
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- content-wrapper -->
</div> <!-- main-panel -->
{% endblock %}
