{% extends 'base.html.twig' %}

{% block title %}Atelier{% endblock %}

{% block body %}
    <h1>Atelier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atelier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ atelier.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ atelier.description }}</td>
            </tr>
            <tr>
                <th>Date_atelier</th>
                <td>{{ atelier.dateAtelier ? atelier.dateAtelier|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Capacite_max</th>
                <td>{{ atelier.capaciteMax }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ atelier.prix }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ atelier.idUser }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ atelier.statut }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ atelier.Role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_atelier_index') }}">back to list</a>

    <a href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">edit</a>

    {{ include('atelier/_delete_form.html.twig') }}
{% endblock %}
