{% extends 'base.html.twig' %}

{% block title %}Détails de la Culture Agricole{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Détails de la Culture Agricole</h1>

        <div class="card shadow p-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ culture_agricole.nom }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ culture_agricole.type }}</td>
                    </tr>
                    <tr>
                        <th>Date de Semis</th>
                        <td>{{ culture_agricole.dateSemi ? culture_agricole.dateSemi|date('d/m/Y') : 'Non défini' }}</td>
                    </tr>
                    <tr>
                        <th>Superficie (ha)</th>
                        <td>{{ culture_agricole.superficie }}</td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        <td>
                            {% if culture_agricole.statut == 'en croissance' %}
                                <span class="badge bg-success">En croissance</span>
                            {% elseif culture_agricole.statut == 'mature' %}
                                <span class="badge bg-primary">Mature</span>
                            {% elseif culture_agricole.statut == 'récolté' %}
                                <span class="badge bg-secondary">Récolté</span>
                            {% elseif culture_agricole.statut == 'malade' %}
                                <span class="badge bg-danger">Malade</span>
                            {% else %}
                                <span class="badge bg-warning">En attente</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Rendement Estimé</th>
                        <td>{{ culture_agricole.rendementEstime }} kg/ha</td>
                    </tr>
                </tbody>
            </table>
                    <nav class="woocommerce-pagination">
                        <ul class="page-numbers">
                            <li><a class="previous page-numbers" href="#"><i class="fas fa-angle-left"></i></a></li>

                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#">2</a></li>
                            <li><a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
            <div class="d-flex justify-content-between mt-4">
                <a href="{{ path('app_culture_agricole_index') }}" class="btn btn-secondary">Retour</a>

            </div>
        </div>
    </div>
{% endblock %}
