{% extends 'base.html.twig' %}

{% block title %}Modifier Avis{% endblock %}

{% block body %}
<div class="contact-area contact-page overflow-hidden bg-gray default-padding">
    <div class="sahpe-right-bottom">
        <img src="{{ asset('assets/img/shape/16.png') }}" alt="Image Not Found">
    </div>
    <div class="container">
        <div class="row align-center">
            <div class="col-tact-stye-one col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-form-style-one mb-md-50">
                            <h5 class="sub-title">Modifier l'Avis</h5>
                            <h2 class="heading">Détails de l'Avis</h2>

                            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'contact-form'}}) }}

                                {% for error in form.vars.errors %}
                                    <div class="alert alert-danger">{{ error.message }}</div>
                                {% endfor %}

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            {{ form_label(form.commentaire, 'Commentaire') }}
                                            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.commentaire) }}
                                        </div>
                                    </div>
                                </div>

                                
                            {{ form_end(form) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Mettre à jour</button>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-info">
                            <h3>Informations Complémentaires</h3>
                            <p>Assurez-vous que votre avis reflète votre expérience réelle.</p>
                        </div>
                        <img src="{{ asset('img/illustration/21.png') }}" alt="Image Not Found" class="img-fluid">
                    </div>
                </div>
                <a href="{{ path('app_avis_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
                {{ include('avis/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}