{# templates/predict/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Prédiction de maladie</title>
</head>
<body>
    <h1>Reconnaissance de maladies sur les plantes</h1>
    {{ form_start(form) }}
        {{ form_row(form.input_data) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    {% if prediction is not empty %}
        <h2>Résultat de la prédiction :</h2>
        <p>{{ prediction }}</p>
    {% endif %}

    {% if error is defined %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>
</html>
