{% extends 'user/client.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    
       <a href="assets/img/melon.jpg" class="item popup-gallery">
    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark-hard bg-cover text-light" style="background-image: url(assets/img/front.jpg");">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Produuits</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="fas fa-home"></i> Chez nous</a></li>
                            <li class="active">boutique</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Shop 
    ============================================= -->
    <div class="validtheme-shop-area default-padding">
        <div class="container">
            <div class="shop-listing-contentes">

                <div class="row item-flex center">

                    <div class="col-lg-7">
                        <div class="content">
                            <!-- Tab Nav -->
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="grid-tab-control" data-bs-toggle="tab" data-bs-target="#grid-tab" type="button" role="tab" aria-controls="grid-tab" aria-selected="true">
                                        <i class="fas fa-th-large"></i>
                                    </button>

                                    <button class="nav-link" id="list-tab-control" data-bs-toggle="tab" data-bs-target="#list-tab" type="button" role="tab" aria-controls="list-tab" aria-selected="false">
                                        <i class="fas fa-th-list"></i>
                                    </button>
                                </div>
                            </nav>
                            <!-- End Tab Nav -->
                        </div>
                    </div>

                    <div class="col-lg-5 text-right">
                        <p>
                            Showing 1–10 of 47 results
                        </p>
                        <select name="cars" id="cars">
                            <option value="volvo">Short by latest</option>
                            <option value="saab">Short by Recent</option>
                            <option value="mercedes">Short by Popular</option>
                            <option value="audi">Short by Relevant</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Tab Content -->
                    <div class="tab-content tab-content-info text-center" id="shop-tabContent">

                        <!-- Strt Product Grid Vies -->
                        <div class="tab-pane fade show active" id="grid-tab" role="tabpanel" aria-labelledby="grid-tab-control">
                            <ul class="vt-products columns-4">

                               {% for produit in produits %}

                                <!-- Single product -->
                                <li class="product">
                                    <div class="product-contents">
                                        <div class="product-image">
                                            <a href="shop-single.html">
                                               
                                                {% if produit.image %} <img src="{{ asset('img/stock/' ~ produit.image) }}" alt="Image du produit" style="max-width: 150px; height: auto;">
                                                   
                                                {% else %}
                                                    <span class="text-muted">Aucune image disponible</span>
                                                {% endif %}
                                            </a>
                                            {% if produit.enPromotion %}
                                               <span class="onsale">promo !</span>
                                            {% endif %}
                                            <div class="shop-action">
                                                <ul>
                                                    <li class="cart">
                                                       <a href="{{ path('panier_ajouter', {'id': produit.id}) }}">buy</a>
                                                    </li>
                                                    <li class="wishlist">
                                                        <a href="#"><span>Add to wishlist</span></a>
                                                    </li>
                                                    <li class="quick-view">
                                                        <a href="{{ path('app_produit_show', {'id': produit.id}) }}" ><span> Détail</span></a>
                                                        
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                          
                                            <h4 class="product-title">
                                                <a href="shop-single.html">{{ produit.nom }}</a>
                                            </h4>
                                            <div class="price">
                                                {% if produit.enPromotion %}
                                                    <span><del>{{ produit.prixVente }} DT</del></span>
                                                    {% set prixPromo = produit.prixVente - (produit.prixVente * produit.pourcentagePromo / 100) %}
                                                    <span>{{ prixPromo|number_format(2, '.', '') }} DT</span>
                                                {% else %}
                                                    <span>{{ produit.prixVente }} DT</span>
                                                {% endif %}
                                            </div>
                                            <a href="{{ path('panier_ajouter1', {'id': produit.id}) }}" class="cart-btn"><i class="fas fa-shopping-bag"></i> Add to cart</a>
                                            
                                        </div>
                                    </div>
                                </li>
                                <!-- Single product -->

                                {% endfor %}
  
                            </ul>
                        </div>
                        <!-- End Product List Vies -->


                    </div>
                    <!-- End Tab Content -->

                    

                  
                 <!-- Pgination -->
<nav class="woocommerce-pagination">
    <ul class="page-numbers">
        {# Bouton Précédent #}
        <li>
            <a class="previous page-numbers {{ pager.currentPage == 1 ? 'disabled' : '' }}" 
               href="{{ pager.currentPage > 1 ? path('app_produit_index', {'page': pager.currentPage - 1}) : '#' }}">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>

        {# Affichage des numéros de page #}
        {% for page in 1..pager.nbPages %}
            <li>
                {% if page == pager.currentPage %}
                    <span aria-current="page" class="page-numbers current">{{ page }}</span>
                {% else %}
                    <a class="page-numbers" href="{{ path('app_produit_index', {'page': page}) }}">{{ page }}</a>
                {% endif %}
            </li>
        {% endfor %}

        {# Bouton Suivant #}
        <li>
            <a class="next page-numbers {{ pager.currentPage == pager.nbPages ? 'disabled' : '' }}" 
               href="{{ pager.currentPage < pager.nbPages ? path('app_produit_index', {'page': pager.currentPage + 1}) : '#' }}">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
    </ul>
</nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop -->

{% endblock %}
