{% extends 'user/client.html.twig' %}

{% block title %}Produits{% endblock %}
{% block header %}
    <!-- Start Header Top -->
    <div class="top-bar-area top-bar-style-one bg-dark text-light">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-8">
                    <ul class="item-flex">
                        <li>
                            <i class="fas fa-clock"></i> Opening Hours : Sunday- Friday, 08:00 am - 05:00pm
                        </li>
                        <li>
                            <a href="tel:+4733378901"><i class="fas fa-phone-alt"></i> +4733378901</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 text-end">
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav inc-shape navbar-sticky navbar-default validnavs dark">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="navbar-brand-left">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{{ path('client_interface') }}">
                            <img src="{{ asset('assetsback/images/logo.png') }}" class="logo" alt="Logo">
                        </a>
                    </div>
                    <!-- End Header Navigation -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <img src="{{ asset('assetsback/images/logo.png') }}" alt="Logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-times"></i>
                    </button>
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('user_profile', {'slug': loggedInUser.slug}) }}">Profil</a></li>
                                <li><a href="">Contactez-nous</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boutique</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('app_produit_index') }}">Produits</a></li>
                                <li><a href="">Mes commandes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{{ path('app_parcelle_index') }}" class="dropdown-toggle" data-toggle="dropdown"> P&C </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('app_parcelle_index') }}">Parcelles</a></li>
                                <li><a href="{{ path('app_culture_agricole_index') }}">Cultures Agricoles</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="project.html" class="dropdown-toggle" data-toggle="dropdown">Ateliers</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('app_atelier_index') }}">A venir</a></li>
                                <li><a href="project-details.html">Mes participations</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventes</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('app_vente_index') }}">Mes ventes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autres</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('app_avis_new') }}">Réclamez</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->






                <div class="attr-right">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>


                        
   <a href="{{ path('panier_index') }}" class="btn"  color: white;">
    <i class="fas fa-shopping-cart" style="font-size: 1.5rem; color: black;"></i>
</a>

                            <li class="button"> <a href="{{ path('app_user_logout') }}">Se déconnecter</a></li>
                        </ul
                    </div>
                    <!-- End Atribute Navigation -->
                </div>
            </div>
            <!-- Overlay screen for menu -->
            <div class="overlay-screen"></div>
            <!-- End Overlay screen for menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->
{% endblock %}
{% block body %}
    <a href="assets/img/melon.jpg" class="item popup-gallery">
    <!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area text-center shadow dark-hard bg-cover text-light" style="background-image: url('{{ asset('img/front4.jpg') }}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Produits</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="fas fa-home"></i> Rayhana</a></li>
                            <li class="active">boutique</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Shop 
    ============================================= -->
    <div class="validtheme-shop-area default-padding">
        <div class="container">
            <div class="shop-listing-contentes">
                <div class="row item-flex center">
                    <div class="col-lg-7">
                        <div class="content">
                            <!-- Tab Nav -->
                            <nav>
                               <a class="btn btn-theme secondary mt-10 btn-md radius animation"href="{{ path('app_wheel') }}""> Jouez avec nous !</a>
                            </nav>
                            <!-- End Tab Nav -->
                        </div>
                    </div>

                    <div class="col-lg-5 text-right">
                        <p>
                            Showing 1–10 of {{ pagination.getTotalItemCount() }} results
                        </p>
                        <select name="cars" id="cars">
                            <option value="volvo">Short by latest</option>
                            <option value="saab">Short by Recent</option>
                            <option value="mercedes">Short by Popular</option>
                            <option value="audi">Short by Relevant</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Tab Content -->
                    <div class="tab-content tab-content-info text-center" id="shop-tabContent">

                        <!-- Start Product Grid View -->
                        <div class="tab-pane fade show active" id="grid-tab" role="tabpanel" aria-labelledby="grid-tab-control">
                            <ul class="vt-products columns-4">
                               {% for produit in pagination %}
                                <!-- Single product -->
                                <li class="product">
                                    <div class="product-contents">
                                        <div class="product-image">
                                            <a href="{{ path('app_produit_show', {'id': produit.id}) }}">
                                                {% if produit.image %}
                                                    <img src="{{ asset('img/stock/' ~ produit.image) }}" alt="Image du produit" style="max-width: 150px; height: auto;">
                                                {% else %}
                                                    <span class="text-muted">Aucune image disponible</span>
                                                {% endif %}
                                            </a>
                                            {% if produit.enPromotion %}
                                               <span class="onsale">promo !</span>
                                            {% endif %}
                                            <div class="shop-action">
                                                <ul>
                                                    <li class="cart">
                                                       <a href="{{ path('app_vente_new', {'id': produit.id}) }}">Acheter produit</a>
                                                    </li>
                                                    <li class="wishlist">
                                                      
                                                       <a href="{{ path('panier_ajouter', {'id': produit.id}) }}">Ajouter au panier</a>
                                                    </li>
                                                    
                                                    
                                                  
                                                    <li class="quick-view">
                                                        <a href="{{ path('app_produit_show', {'id': produit.id}) }}" ><span> Détail</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <h4 class="product-title">
                                                <a href="{{ path('app_produit_show', {'id': produit.id}) }}">{{ produit.nom }}</a>
                                            </h4>
                                            <div class="price">
                                                {% if produit.enPromotion %}
                                                    <span><del>{{ produit.prixVente }} DT</del></span>
                                                    {% set prixPromo = produit.prixVente - (produit.prixVente * produit.pourcentagePromo / 100) %}
                                                    <span>{{ prixPromo|number_format(2, '.', '') }} DT</span>
                                                {% else %}
                                                    <span>{{ produit.prixVente }} DT</span>
                                                {% endif %}
                                            </div>
                                            <a href="{{ path('panier_ajouter1', {'id': produit.id}) }}" class="cart-btn"><i class="fas fa-shopping-bag"></i>Ajout au panier</a>
                                        </div>
                                    </div>
                                </li>
                               {% endfor %}
                            </ul>
                        </div>
                        <!-- End Product Grid View -->

                    </div>
                    <!-- End Tab Content -->

   
<!-- Pagination -->
<nav class="woocommerce-pagination">
    <ul class="page-numbers">
        {# Bouton Précédent #}
        <li>
            <a class="previous page-numbers {{ pagination.getCurrentPageNumber() == 1 ? 'disabled' : '' }}"
               href="{{ pagination.getCurrentPageNumber() > 1 ? path('app_produit_index', {'page': pagination.getCurrentPageNumber() - 1}) : '#' }}">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>

        {# Calculate total pages #}
        {% set totalPages = (pagination.getTotalItemCount() / pagination.getItemNumberPerPage())|round(0, 'ceil') %}

        {# Calculate start and end pages #}
        {% set startPage = pagination.getCurrentPageNumber() - 2 > 1 ? pagination.getCurrentPageNumber() - 2 : 1 %}
        {% set endPage = pagination.getCurrentPageNumber() + 2 < totalPages ? pagination.getCurrentPageNumber() + 2 : totalPages %}

        {# Ensure startPage is not greater than endPage #}
        {% if startPage > endPage %}
            {% set startPage = endPage %}
        {% endif %}

        {# Affichage des numéros de page #}
        {% for page in startPage..endPage %}
            <li>
                {% if page == pagination.getCurrentPageNumber() %}
                    <span aria-current="page" class="page-numbers current">{{ page }}</span>
                {% else %}
                    <a class="page-numbers" href="{{ path('app_produit_index', {'page': page}) }}">{{ page }}</a>
                {% endif %}
            </li>
        {% endfor %}

        {# Bouton Suivant #}
        <li>
            <a class="next page-numbers {{ pagination.getCurrentPageNumber() == totalPages ? 'disabled' : '' }}"
               href="{{ pagination.getCurrentPageNumber() < totalPages ? path('app_produit_index', {'page': pagination.getCurrentPageNumber() + 1}) : '#' }}">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
    </ul>
</nav>






                </div>
            </div>
        </div>
    </div>
    <!-- End Shop -->
{% endblock %}