{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajouter Produit{% endblock %}

{% block body %}
<div class="container py-5">
   <div class="row justify-content-center">
       <div class="col-md-10">
           <div class="card shadow-lg border-0 rounded-lg">
               <div class="card-header py-3" style="background-color: #49a760; color: white;">
                   <h4 class="card-title mb-0 text-center">Ajouter un produit</h4>
               </div>
               <div class="card-body p-5">
                   {{ form_start(form, {'attr': {'class': 'forms-sample needs-validation', 'novalidate': 'novalidate'}}) }}
                   
                   {# Stock #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.stock) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.stock, {
                               'attr': {
                                   'class': 'form-select rounded-3',
                                   'required': 'required'
                               }
                           }) }}
                           {{ form_errors(form.stock, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Nom #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.nom) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.nom, {
                               'attr': {
                                   'class': 'form-control rounded-3',
                                   'placeholder': 'Nom du produit',
                                   'required': 'required'
                               }
                           }) }}
                           {{ form_errors(form.nom, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Image #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.image) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.image, {
                               'attr': {
                                   'class': 'form-control rounded-3',
                                   'required': 'required'
                               }
                           }) }}
                           {{ form_errors(form.image, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Quantité #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.quantite) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.quantite, {
                               'attr': {
                                   'class': 'form-control rounded-3',
                                   'placeholder': 'Entrez la quantité',
                                   'required': 'required'
                               }
                           }) }}
                           {{ form_errors(form.quantite, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Prix de vente #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.prix_vente) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.prix_vente, {
                               'attr': {
                                   'class': 'form-control rounded-3',
                                   'placeholder': 'Entrez le prix de vente',
                                   'required': 'required'
                               }
                           }) }}
                           {{ form_errors(form.prix_vente, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Statut #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.statut) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.statut, {
                               'attr': {
                                   'class': 'form-select rounded-3',
                                   'required': 'required'
                               }
                           }) }}
                           {{ form_errors(form.statut, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Description globale #}
                   <div class="form-group row mb-4">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.description_globale) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.description_globale, {
                               'attr': {
                                   'class': 'form-control rounded-3',
                                   'rows': '3',
                                   'placeholder': 'Description globale du produit',
                                   'required': 'required'
                               }
                           }) }}
                           {{ form_errors(form.description_globale, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Description détaillée #}
                   <div class="form-group row mb-4">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.description_detaille) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.description_detaille, {
                               'attr': {
                                   'class': 'form-control rounded-3',
                                   'rows': '5',
                                   'placeholder': 'Description détaillée du produit',
                                   'required': 'required'
                               }
                           }) }}
                           {{ form_errors(form.description_detaille, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Catégorie #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.categorie) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.categorie, {
                               'attr': {
                                   'class': 'form-select rounded-3',
                                   'required': 'required'
                               }
                           }) }}
                           {{ form_errors(form.categorie, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# En Promotion #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.enPromotion) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.enPromotion, {
                               'attr': {
                                   'class': 'form-check-input ms-2',
                                   'id': 'enPromotionCheckbox'  # Ajoute un identifiant pour le ciblage en JavaScript
                               }
                           }) }}
                       </div>
                   </div>

                   {# Pourcentage promo #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.pourcentage_promo) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.pourcentage_promo, {
                               'attr': {
                                   'class': 'form-control rounded-3',
                                   'placeholder': 'Pourcentage',
                                   'required': form.enPromotion.vars.data ? 'required' : ''  # Il n'est pas requis par défaut
                               }
                           }) }}
                           {{ form_errors(form.pourcentage_promo, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Date début promo #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.date_debut_promo) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.date_debut_promo, {
                               'attr': {
                                   'class': 'form-control rounded-3 flatpickr-input',
                                   'required': form.enPromotion.vars.data ? 'required' : ''  # Il n'est pas requis par défaut
                               }
                           }) }}
                           {{ form_errors(form.date_debut_promo, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Date fin promo #}
                   <div class="form-group row mb-4 align-items-center">
                       <label class="col-sm-3 col-form-label fw-bold">{{ form_label(form.date_fin_promo) }}</label>
                       <div class="col-sm-9">
                           {{ form_widget(form.date_fin_promo, {
                               'attr': {
                                   'class': 'form-control rounded-3 flatpickr-input',
                                   'required': form.enPromotion.vars.data ? 'required' : ''  # Il n'est pas requis par défaut
                               }
                           }) }}
                           {{ form_errors(form.date_fin_promo, {'attr': {'class': 'text-danger'}}) }}
                       </div>
                   </div>

                   {# Boutons #}
                   <div class="form-group row mt-5">
                       <div class="col-12 text-center">
                           <button type="submit" class="btn btn-success me-3" <div class="card-header py-3" style="background-color: #49a760; color: white;">>
                               <i class="fas fa-save me-2"></i>Enregistrer le produit
                           </button>
                           <a href="{{ path('app_produitback_index') }}" class="btn btn-light">
                               <i class="fas fa-times me-2"></i>Retour à la liste
                           </a>
                       </div>
                   </div>

                   {{ form_end(form) }}
               </div>
           </div>
       </div>
   </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const enPromotionCheckbox = document.querySelector('input[name="form[enPromotion]"]');
        const pourcentagePromoInput = document.querySelector('input[name="form[pourcentage_promo]"]');
        const dateDebutPromoInput = document.querySelector('input[name="form[date_debut_promo]"]');
        const dateFinPromoInput = document.querySelector('input[name="form[date_fin_promo]"]');

        function togglePromoFields() {
            const isChecked = enPromotionCheckbox.checked;

            // Si la case "En Promotion" est cochée, les champs sont requis
            if (isChecked) {
                pourcentagePromoInput.setAttribute('required', 'required');
                dateDebutPromoInput.setAttribute('required', 'required');
                dateFinPromoInput.setAttribute('required', 'required');
            } else {
                // Si la case "En Promotion" n'est pas cochée, les champs ne sont pas requis
                pourcentagePromoInput.removeAttribute('required');
                dateDebutPromoInput.removeAttribute('required');
                dateFinPromoInput.removeAttribute('required');
            }
        }

        // Appeler la fonction au chargement de la page et lors des changements de la case "En Promotion"
        togglePromoFields();
        enPromotionCheckbox.addEventListener('change', togglePromoFields);
    });
</script>
{% endblock %}  