{% extends 'user/client.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
   
    <!-- Start Shop 
    ============================================= -->
    <div class="validtheme-shop-single-area default-padding">
        <div class="container">
            <div class="product-details">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="product-thumb">
                            <div id="timeline-carousel" class="carousel slide" data-bs-ride="carousel">

                                <div class="carousel-inner item-box">
                                    <div class="carousel-item active product-item">
                                        <a  class="item popup-gallery">
                                           <img src="{{ asset('img/stock/' ~ produit.image) }}" alt="Image du produit">
                                        </a>
                                        {% if produit.enPromotion %}
                                            <span class="onsale theme">-{{ produit.pourcentagePromo }}%</span>
                                        {% endif %}
                                    </div>
                                    <div class="carousel-item product-item">
                                        <a href="assets/img/products/2.png" class="item popup-gallery">
                                             <img src="{{ asset('img/stock/' ~ produit.image) }}" alt="Image du produit" >
                                        </a>
                                        {% if produit.enPromotion %}
                                            <span class="onsale theme">-{{ produit.pourcentagePromo }}%</span>
                                        {% endif %}
                                    </div>
                                   
                                </div>

                                 <!-- Carousel Indicators -->
                                <div class="carousel-indicators">
                                    <div class="product-gallery-carousel swiper">
                                        <!-- Additional required wrapper -->
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="item active" data-bs-target="#timeline-carousel" data-bs-slide-to="0" aria-current="true">
                                                    <img src="{{ asset('img/stock/' ~ produit.image) }}" alt="Image du produit" style="max-width: 150px; height: auto;">
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>

                                
                                <!-- End Carousel Content -->
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="single-product-contents">
                            <div class="summary-top-box">
                                <div class="product-tags">
                                    
                                   
                                </div>
                                <div class="review-count">
                                   
                                </div>
                            </div>
                            <h2 class="product-title">
                                {{ produit.nom  }}  
                            </h2>
                            <div class="price">
                                {% if produit.enPromotion %}
                                    <span><del>{{ produit.prixVente }} DT</del></span>
                                    {% set prixPromo = produit.prixVente - (produit.prixVente * produit.pourcentagePromo / 100) %}
                                    <span>{{ prixPromo|number_format(2, '.', '') }} DT</span>
                                {% else %}
                                    <span>{{ produit.prixVente }} DT</span>
                                {% endif %}
                            </div>
                           
                            <div class="product-stock validthemes-in-stock">
                                <span>In Stock</span>
                                 
                            </div>
                            
                            <p>
                                {{ produit.DescriptionGlobale}}
                            </p>
                            <div class="product-purchase-list">
                               
                                <a href="app_vente_new" class="btn secondary btn-theme btn-sm animation">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add to cart
                                </a>
                              
                            </div>
                            <div class="product-estimate-delivary">
                                <i class="fas fa-box-open"></i>
                                <strong> 2-day Delivery</strong>
                                <span>Speedy and reliable parcel delivery!</span>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Bottom Info  -->
            <div class="single-product-bottom-info">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Tab Nav -->
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="description-tab-control" data-bs-toggle="tab" data-bs-target="#description-tab" type="button" role="tab" aria-controls="description-tab" aria-selected="true">
                                Description
                            </button>
                            
                            

                        </div>
                        <!-- End Tab Nav -->
                        <!-- Start Tab Content -->
                        <div class="tab-content tab-content-info" id="myTabContent">

                            <!-- Tab Single -->
                            <div class="tab-pane fade show active" id="description-tab" role="tabpanel" aria-labelledby="description-tab-control">
                                
                                <ul> 
                                    <p>  {{ produit.DescriptionDetaille}}</p> 
                                    
                                </ul>
                            </div>
                            <!-- End Single -->

                        </div>
                        <!-- End Tab Content -->
                    </div>
                </div>
            </div>
            <!-- End Product Bottom Info  -->


            <!-- Related Product     barre loutaaaa -->   
            
            <div class="related-products carousel-shadow">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Related Products</h3>
                          
                        <div class="vt-products text-center related-product-carousel swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Single product -->
                           
                                <div class="swiper-slide">
                                    <div class="product">
                                        <div class="product-contents">
                                            <div class="product-image">
                                                <a href="shop-single.html">
                                                    <img src="{{ asset('img/stock/' ~ produit.image) }}" alt="Image du produit" style="max-width: 150px; height: auto;">
                                                </a>
                                                <div class="shop-action">
                                                    <ul>
                                                        <li class="cart">
                                                            <a href="#"><span>Add to cart</span></a>
                                                        </li>
                                                        <li class="wishlist">
                                                            <a href="#"><span>Add to wishlist</span></a>
                                                        </li>
                                                        <li class="quick-view">
                                                            <a href="#"><span>Quick view</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-caption">
                                                
                                                <h4 class="product-title">
                                                    <a href="shop-single.html">{{ produit.nom }}</a>
                                                </h4>
                                                <div class={{ produit.PrixVente }}>
                                                    <span>{{ produit.PrixVente }}</span>
                                                </div>
                                                <a href="app_vente_new" class="cart-btn"><i class="fas fa-shopping-bag"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Single product -->
                               
                                          
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Related Product  -->
           
        </div>
    </div>

{% endblock %}