{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
<table>

<tr>
    <td>{{form_label(form.quantite,"quantite")}}</td>
    <td>{{form_widget(form.quantite)}}</td>
    <td>{{form_errors(form.quantite)}}</td>
</tr>
<tr>
    <td>{{form_label(form.dateProduction,"dateProduction")}}</td>
    <td>{{form_widget(form.dateProduction)}}</td>
    <td>{{form_errors(form.dateProduction)}}</td>
</tr>
<tr>
    <td>{{form_label(form.statut,"statut")}}</td>
    <td>{{form_widget(form.statut)}}</td>
    <td>{{form_errors(form.statut)}}</td>
</tr>
<tr>
    <td>{{form_label(form.dateExpiration,"dateExpiration")}}</td>
    <td>{{form_widget(form.dateExpiration)}}</td>
    <td>{{form_errors(form.dateExpiration)}}</td>
</tr>
<tr>
    <td>{{form_label(form.type,"type")}}</td>
    <td>{{form_widget(form.type)}}</td>
    <td>{{form_errors(form.type)}}</td>
</tr>
</table>
<br>
    {{form_widget(form.save)}}
{{form_end(form)}}