{% extends 'base.html.twig' %}

{% block title %}Dechet {% endblock %}

{% block body %}
    <h1>Dechet </h1>

    <table id="atelierTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Quantite</th>
                <th>DateProduction</th>
                <th>Statut</th>
                <th>Date_expiration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dechet in pagination %}
            <tr>
                <td>{{ dechet.id }}</td>
                <td>{{ dechet.type }}</td>
                <td>{{ dechet.quantite }}</td>
                <td>{{ dechet.dateProduction ? dechet.dateProduction|date('Y-m-d') : '' }}</td>
                <td>{{ dechet.statut }}</td>
                <td>{{ dechet.dateExpiration ? dechet.dateExpiration|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_dechet_show', {'id': dechet.id}) }}">Afficher</a>
                    <a href="{{ path('app_dechet_edit', {'id': dechet.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<!-- pagination -->
    <div class="d-flex justify-content-center">
    {{ knp_pagination_render(pagination) }}
</div>
    <a href="{{ path('app_dechet_new') }}">Ajouter dechet</a>
     <script>
//tri 
        $(document).ready(function () {
            $('#atelierTable').DataTable({
                "ordering": true,  // tri 3al colonne
                "paging": false,    // nactiviw l pagination
                "searching": true, // nactiviw l recherche
                "pageLength": 4,   // nbr element par page
                "lengthChange": false, // deactiv ll menu pour modif le nbr d'éléments par page
                "language": {
                     "url": "{{ asset('js/French.json') }}"
                }
            });
        });
    </script>
{% endblock %}
