{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier Transaction Financière{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <!-- Page Header -->
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-cash"></i>
                </span> Transactions Financières
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Modifier une Transaction
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Modifier Transaction Financière</h4>
                    <p class="card-description">Mettre à jour les informations de la transaction</p>

                    {{ form_start(form, {'attr': {'class': 'forms-sample' , 'novalidate': 'novalidate'}}) }}

                    <!-- Montant -->
                    <div class="form-group">
                        {{ form_label(form.montant, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.montant, { 'attr': {'class': 'form-control', 'placeholder': 'Montant'} }) }}
                        <div {{ form_errors(form.montant) ? 'class="text-danger"' : '' }}>
                            {{ form_errors(form.montant) }}
                        </div>
                    </div>

                    <!-- Type de Transaction -->
                    <div class="form-group">
                        {{ form_label(form.type, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.type, { 'attr': {'class': 'form-control', 'placeholder': 'Type de transaction'} }) }}
                        <div {{ form_errors(form.type) ? 'class="text-danger"' : '' }}>
                            {{ form_errors(form.type) }}
                        </div>
                    </div>

                    <!-- Boutons -->
                    <button type="submit" class="btn btn-gradient-primary me-2">
                        <i class="mdi mdi-content-save"></i> Mettre à jour
                    </button>
                    <a href="{{ path('app_transactionfinancier_index') }}" class="btn btn-light">
                        <i class="mdi mdi-arrow-left"></i> Retour
                    </a>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
