{% extends 'baseAdmin.html.twig' %}

{% block title %}Transactions Financières{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assetsback/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsback/vendors/ti-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsback/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsback/vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsback/css/style.css') }}">
    <link rel="shortcut icon" href="{{ asset('assetsback/images/favicon.png') }}" />
{% endblock %}

{% block body %}
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-lg border-0 rounded-lg">
                <!-- En-tête avec couleur bleu primaire -->
                <div class="card-header py-3" style="background-color: #198754; color: white;">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">Liste des Transactions Financières</h4>
                        <a href="{{ path('app_transactionfinancier_new') }}" class="btn" style="background-color: #fff; color: #2F4F4F;">
                            <i class="fas fa-plus me-2"></i> Nouvelle Transaction
                        </a>
                    </div>
                </div>
                <div class="card-body p-4" style="background-color: #fff ;">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr style="background-color: #8FBC8F; color: #2F4F4F;">
                                    <th>ID</th>
                                    <th>Montant</th>
                                    <th>Date Transaction</th>
                                    <th>Type</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transactionfinancier in transactionfinanciers %}
                                    <tr>
                                        <td>{{ transactionfinancier.id }}</td>
                                        <td>{{ transactionfinancier.montant }} €</td>
                                        <td>{{ transactionfinancier.date|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ transactionfinancier.type }}</td>
                                        <td>
                                            <a href="{{ path('app_transactionfinancier_show', {'id': transactionfinancier.id}) }}" class="btn btn-sm" style="background-color: #fff; color: #2F4F4F;">
                                                <i class="mdi mdi-eye"></i> Voir
                                            </a>
                                            <a href="{{ path('app_transactionfinancier_edit', {'id': transactionfinancier.id}) }}" class="btn btn-sm" style="background-color: #fff; color: #2F4F4F;">
                                                <i class="mdi mdi-pencil"></i> Modifier
                                            </a>
                                            <form method="post" action="{{ path('app_transactionfinancier_delete', {'id': transactionfinancier.id}) }}" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette transaction?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transactionfinancier.id) }}">
                                                <button type="submit" class="btn btn-sm" style="background-color: #fff; color: rgb(211, 54, 54);">
                                                    <i class="mdi mdi-delete"></i> Supprimer
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center py-4">
                                            <div class="alert" style="background-color: #E8F5E9; color: #2F4F4F; border-color: #A5D6A7;">
                                                <i class="fas fa-info-circle me-2"></i>
                                                Aucune transaction trouvée
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assetsback/vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ asset('assetsback/js/off-canvas.js') }}"></script>
    <script src="{{ asset('assetsback/js/misc.js') }}"></script>
{% endblock %}
