{% extends 'baseAdmin.html.twig' %}

{% block title %}Transactions Financières{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assetsback/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsback/vendors/ti-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsback/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsback/vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsback/css/style.css') }}">
    <link rel="shortcut icon" href="{{ asset('assetsback/images/favicon.png') }}" />
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <div class="card-header bg-primary text-white">
                <h3 class="text-center">Liste des Transactions Financières</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th>Id</th>
                            <th>Montant</th>
                            <th>Date Transaction</th>
                            <th>Type</th>
                            
                          
                        </tr>
                    </thead>
                    <tbody>
                        {% for transactionfinancier in transactionfinanciers %}
                            <tr>
                                <td>{{ transactionfinancier.id }}</td>
                                <td>{{ transactionfinancier.montant }}</td>
                                <td> {{ transactionfinancier.date|date('Y-m-d H:i:s') }} </td>
                                <td>{{ transactionfinancier.type }}</td>
                              
                               
                              
                                

                                <td>
                                    <a href="{{ path('app_transactionfinancier_show', {'id': transactionfinancier.id}) }}" class="btn btn-info btn-sm">
                                        <i class="mdi mdi-eye"></i> Voir
                                    </a>
                                    <a href="{{ path('app_transactionfinancier_edit', {'id': transactionfinancier.id}) }}" class="btn btn-warning btn-sm">
                                        <i class="mdi mdi-pencil"></i> Modifier
                                    </a>
                                    <a>  {{ include('transactionfinancier/_delete_form.html.twig') }}
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6" class="text-center">Aucune transaction trouvée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assetsback/vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ asset('assetsback/js/off-canvas.js') }}"></script>
    <script src="{{ asset('assetsback/js/misc.js') }}"></script>
{% endblock %}
