{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvelle Transaction Financière{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card shadow-lg border-0 rounded-lg">
                        <div class="card-header py-3" style="background-color: #49a760; color: white;">
                            <div class="d-flex justify-content-center align-items-center">
                                <h4 class="card-title mb-0">Transaction financière</h4>
                            </div>
                        </div>
                        <div class="card-body p-5">

                            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'contact-form'}}) }}

                            {% for error in form.vars.errors %}
                                <div class="alert alert-danger">{{ error.message }}</div>
                            {% endfor %}

                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_label(form.montant, 'Montant', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.montant, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.montant) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.type, 'Type', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.type) }}
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-6">
                                 <button type="submit" class="btn btn-gradient-success">Enregistrer</button>
                                    <button type="submit" class="btn btn-gradient-light">Annuler</button>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}