
{% extends 'baseAdmin.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <h1>Stock</h1>

    <table class="table">
        <tbody>
           <tr>
                <th>Nom du produit</th>
                <td>{{ stock.nom }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ stock.id }}</td>
            </tr>
          
            <tr>
                <th>Date tock</th>
                <td>{{ stock.dateStock ? stock.dateStock|date('Y-m-d') : '' }}</td>
            </tr>
        
            <tr>
                <th>Dateexpiration</th>
                <td>{{ stock.dateExpiration ? stock.dateExpiration|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ stock.lieu }}</td>
            </tr>
            <tr>
                <th>Conditionn</th>
                <td>{{ stock.conditionn }}</td>
            </tr>
        
        </tbody>
    </table>

    <a href="{{ path('app_stock_index') }}">back to list</a>

    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}">edit</a>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
