{% extends 'baseAdmin.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            {# Livreur Table #}
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Livreurs</h4>

                        <div class="alert alert-info">
                            <strong>Debug Info (Livreur):</strong><br>
                            Current Page: {{ paginationlivreur.currentPageNumber }}<br>
                            Total Items: {{ paginationlivreur.totalItemCount }}<br>
                            Items per Page: {{ paginationlivreur.itemNumberPerPage }}
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Nom prenom</th>
                                    <th>Numéro</th>
                                    <th>Cin</th>
                                    <th>Adresse</th>
                                    <th>Salaire</th>
                                    <th><center>Actions</center></th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in paginationlivreur.getItems() %}
                                    <tr>
                                        <td class="py-1">
                                            <img src="{{ asset('img/users/' ~ user.photo) }}" alt="Photo">
                                        </td>
                                        <td>{{ user.nom }} {{ user.prenom }}</td>
                                        <td>{{ user.tel }}</td>
                                        <td>{{ user.cin }}</td>
                                        <td>{{ user.adresse }}</td>
                                        <td>{{ user.salaire }}</td>
                                        <td><center>
                                            <a href="{{ path('app_user_editback', {'id': user.id}) }}" class="btn btn-outline-success btn-sm btn-fw" style="width: 80px;">Modifier</a>
                                            <form method="post" action="{{ path('app_user_deletebackemploye', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                            <button class="btn btn-outline-success btn-sm btn-fw" style="width: 80px;">Supprimer</button>
                                          </form></center></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">No records found for Livreur.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      <br><br>
                        <div class="d-flex justify-content-center">
                            {{ knp_pagination_render(paginationlivreur, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig', {
                                'pageParameterName': 'page_livreur'
                            }) }}
                        </div>
                    </div>
                </div>
            </div>

            {# Inspecteur Table #}
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Inspecteurs</h4>

                        <div class="alert alert-info">
                            <strong>Debug Info (Inspecteur):</strong><br>
                            Current Page: {{ paginationinspecteur.currentPageNumber }}<br>
                            Total Items: {{ paginationinspecteur.totalItemCount }}<br>
                            Items per Page: {{ paginationinspecteur.itemNumberPerPage }}
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Address</th>
                                    <th>Salary</th>
                                    <th><center>Actions</center></th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in paginationinspecteur.getItems() %}
                                    <tr>
                                        <td class="py-1">
                                            <img src="{{ asset('img/users/' ~ user.photo) }}" alt="Photo de l'utilisateur">
                                        </td>
                                        <td>{{ user.nom }}</td>
                                        <td>{{ user.prenom }}</td>
                                        <td>{{ user.adresse }}</td>
                                        <td>{{ user.salaire }}</td>
                                        <td><center>
                                            <a href="{{ path('app_user_editback', {'id': user.id}) }}" class="btn btn-outline-success btn-sm btn-fw" style="width: 80px;">Modifier</a>
                                            <a href="{{ path('app_user_deletebackemploye', {'id': user.id}) }}" class="btn btn-outline-success btn-sm btn-fw" style="width: 80px;">Supprimer</a>
                                        </center></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">No records found for Inspecteur.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-center">
                            {{ knp_pagination_render(paginationinspecteur, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig', {
                                'pageParameterName': 'page_inspecteur'
                            }) }}
                        </div>
                    </div>
                </div>
            </div>

            {# Fermier Table #}
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Fermiers</h4>

                        <div class="alert alert-info">
                            <strong>Debug Info (Fermier):</strong><br>
                            Current Page: {{ paginationfermier.currentPageNumber }}<br>
                            Total Items: {{ paginationfermier.totalItemCount }}<br>
                            Items per Page: {{ paginationfermier.itemNumberPerPage }}
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Address</th>
                                    <th>Salary</th>
                                    <th><center>Actions</center></th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in paginationfermier.getItems() %}
                                    <tr>
                                        <td class="py-1">
                                            <img src="{{ asset('img/users/' ~ user.photo) }}" alt="Photo de l'utilisateur">
                                        </td>
                                        <td>{{ user.nom }}</td>
                                        <td>{{ user.prenom }}</td>
                                        <td>{{ user.adresse }}</td>
                                        <td>{{ user.salaire }}</td>
                                        <td><center>
                                            <a href="{{ path('app_user_editback', {'id': user.id}) }}" class="btn btn-outline-success btn-sm btn-fw" style="width: 80px;">Modifier</a>

                                            <form method="post" action="{{ path('app_user_deletebackemploye', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                            <button class="btn btn-outline-success btn-sm btn-fw" style="width: 80px;">Supprimer</button>
                                          </form>

                                        </center></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">No records found for Fermier.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-center">
                            {{ knp_pagination_render(paginationfermier, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig', {
                                'pageParameterName': 'page_fermier'
                            }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
