{% extends 'baseAdmin.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">  {# Use col-12 for full width #}
                    <div class="card shadow-lg border-0 rounded-lg">
                        <div class="card-header py-3" style="background-color: #49a760; color: white;">
                            <div class="d-flex justify-content-center align-items-center">
                                <h4 class="card-title mb-0">Clients</h4>
                            </div>
                        </div>
                        <div class="card-body p-4" style="background-color: #fff;">  {# Added card-body styling #}

                            

                            {{ _self.client_table(pagination) }}  {# Call the macro #}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro client_table(pagination) %}
    <table class="table table-hover">  {# Added table-hover for better UX #}
        <thead>
            <tr style="background-color: #8FBC8F; color: #2F4F4F;">  {# Consistent header styling #}
                <th>ID</th>
                <th>Photo</th>
                <th>Nom et Prénom</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Cin</th>
                <th>Adresse</th>
              {#  <th class="text-center">Actions</th> #}
            </tr>
        </thead>
        <tbody>
            {% for user in pagination.getItems() %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td class="py-1">
                        <img src="{{ asset('img/users/' ~ user.photo) }}" alt="Photo de l'utilisateur" style="max-width: 50px; max-height: 50px;">
                    </td>
                    <td>{{ user.nom }} {{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.tel }}</td>
                    <td>{{ user.cin }}</td>
                    <td>{{ user.adresse }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center py-4">  {# colspan adjusted #}
                        <div class="alert" style="background-color: #E8F5E9; color: #2F4F4F; border-color: #A5D6A7;">
                            <i class="fas fa-info-circle me-2"></i>
                            Aucun client trouvé
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig', {
            'pageParameterName': 'page_clients'
        }) }}
    </div>
{% endmacro %}