{% extends 'base.html.twig' %}
  {% block header %}
        <header>
            <!-- Start Navigation -->
            <nav class="navbar mobile-sidenav navbar-style-one navbar-sticky navbar-default validnavs white navbar-fixed no-background">
                <div class="container-full d-flex justify-content-between align-items-center">
                    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <!-- Start Header Navigation (Moved to the right) -->
                   <div class="navbar-header ms-auto d-flex align-items-center">
                        <a class="navbar-brand" href="{{ path('app_home') }}">
                            <img src="{{asset('assetsback/images/logo.png')}}" class="logo" alt="Logo">
                        </a>
                    </div>

                    </div>
                    <!-- End Header Navigation -->
                </div>   
            </nav>
            <!-- End Navigation -->
        </header>



{% endblock %}

{% block body %}
  <!-- Start Contact Us 
    ============================================= -->
    <div class="contact-area contact-page overflow-hidden bg-gray default-padding">
        <div class="sahpe-right-bottom">
            <img src="assets/img/shape/16.png" alt="Image Not Found">
        </div>

        <div class="container">

            <div class="row align-center">
   
                <div class="col-tact-stye-one col-xl-6 col-lg-7">
                    <div class="contact-form-style-one mb-md-50">
                        <img src="{{ asset('img/illustration/10.png') }}" alt="Image Not Found">
                        <center>
                        <h5 class="sub-title">Rayhana</h5>
                        <h2 class="heading">Accédez à <br>votre compte</h2>
                        {% if error %}
                            <div style="color: red; margin-bottom: 15px;">{{ error }}</div>
                        {% endif %}
                         </center>

                        <form method="post" class="contact-form contact-form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Email*" type="email" required>
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" id="password" name="password" placeholder="Password*" type="password" required>
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-sign-in"></i> Se connecter
                                    </button>
                                </div>
                            </div>
                            <!-- Lien "Mot de passe oublié ?" -->
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <a href="{{ path('send_email') }}" style="color: red; text-decoration: none;">
                                        Mot de passe oublié ?
                                    </a>
                                </div>
                            </div>
                            <!-- Alert Message -->
                            <div class="col-lg-12 alert-notification">
                                <div id="message" class="alert-msg"></div>
                            </div>
                        </form>
                        
                    </div>
                </div>

                <div class="col-tact-stye-one col-xl-5 col-lg-5 pl-80 pl-md-15 pl-xs-15">
                    <div class="contact-style-one-info">
                        <h2>
                            Nos 
                            <span>
                                coordonnées
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M14.4,111.6c0,0,202.9-33.7,471.2,0c0,0-194-8.9-397.3,24.7c0,0,141.9-5.9,309.2,0" style="animation-play-state: running;"></path></svg>
                            </span>
                        </h2>
                        <p>
                            L’innovation au service de l’agriculture durable commence ici. Contactez-nous pour en savoir plus !
                     </p>
                        <ul>
                            <li>
                                <div class="content">
                                    <h5 class="title">Ligne d'assistance</h5>
                                    <a href="">+216 50123645</a>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h5 class="title">Localisation</h5>
                                    <p>
                                        Esprit , bloc M , el ghazela
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h5 class="title">Email Officiel</h5>
                                    <a href="Rayhana.agrico@gmail.com">Rayhana.agrico@gmail.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Contact -->
{% endblock %}
{% block footer %}
{% endblock %}
