{% extends 'user/client.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}

     <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark-hard bg-cover text-light" style="background-image: url('{{ asset('img//banner/3.png')}}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Votre profil</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                            <li class="active">Team</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Team Single Area
    ============================================= -->
    <div class="team-single-area default-padding">
        <div class="container">
            <div class="team-content-top">
                <div class="row align-center">
                    <div class="col-lg-5 left-info mb-md-50 mb-xs-40">
                        <div class="thumb">
                        {% if loggedInUser.photo %}
                            <img src="{{ asset('img/users/' ~ loggedInUser.photo) }}" alt="Photo de l'utilisateur">
                        {% else %}
                            <p>Aucune photo disponible.</p>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-7 right-info pl-80 pl-md-15 pl-xs-15">
                        <h2> {{ loggedInUser.nom }} {{ loggedInUser.prenom }}</h2>
                        <span> {{ loggedInUser.role }}</span>
                        <p>
                             Description                        </p>
                        
                        <ul>
                            <li>
                                <strong>Email:</strong>
                                <a href="mailto: {{ loggedInUser.email }}"> {{ loggedInUser.email }}</a>
                            </li>
                            <li>
                                <strong>Phone:</strong>
                                <a href="tel: {{ loggedInUser.tel }}"> {{ loggedInUser.tel }}</a>
                            </li>
                        </ul>
                        <div class="social">
                            <a class="btn circle btn-sm btn-dark animation me-2" href="{{ path('app_user_edit', {'id': loggedInUser.id}) }}">Modifier</a>
                            <form method="post" action="{{ path('app_user_delete', {'id': loggedInUser.id}) }}" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ loggedInUser.id) }}">
                                <a type="submit" class="btn circle btn-sm btn-dark animation">Supprimer</a> 
                            </form>
                            <div class="share-link">
                                <i class="fas fa-share-alt"></i>
                                <ul>
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="#">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    

{% endblock %}
